@media (max-width: 1200px){
    header{
        margin-right: 5px;
        margin-left: 5px;
    }
    .everythingsbad{
        height: 200px;
        width: 250px;
    }
    #freeplace{
        margin-right: 10px;
        margin-left: 10px;
        height: 100px;
    }
    .content{
        margin-left: 10px;
        margin-right: 10px;
}
#recomend{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
#modal{
    width: 400px;
}
#modalO{ 
    width: 520px;
}
}
@media (max-width: 860px){
    .about{
        font-size: 25px;
        margin-right: 0px;
        margin-left: 0px;
    }
    #mainlog{
       margin-top: 20px;
    }
    #freeplace{
        margin-right: 5px;
        margin-left: 5px;
        height: 70px;
}
#mainlog a{
    color: gray;
    text-decoration: none;
    margin-left: 20px;
}}
@media (max-width: 760px){
    .about{
        font-size: 27;
    }
}